body {
	background: linear-gradient(to left, #ADD8E6 0%, #1E90FF 100%);
}

input {
	background-color: #EAEAEA;
	border-radius: 5px;
	padding-top: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 30px;
	width: 80%;
	text-align: center;
}

.input {
	height: 15px;
}

button {
	color: #FFFFFF;
	background-color: #127DA7;
	border-radius: 5px;
	margin-top: 10px;
	height: 40px;
	width: 50%;
	
}

.button {
	width: 30%;
}



h1 {
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 1px black; 
}

h2 {
	color: #696867;
	padding-top: 10px;
}

table {
	margin: 0 auto;
	width: 80%;
	margin-top: 100px;
	border: none;
}

table th {
	background: #fff;
	color: #127DA7;
}

table tr td {
	background-color: #fff;
	text-align: center;
}

.container {
	height: 350px;
	width: 320px;
	background-color: white;
	margin: 100px auto;
	text-align: center;
	border-radius: 5px;
}